<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource,
             as: resource_name,
             url: registration_path(resource_name),
             builder: UserFormBuilder,
             html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <b><%= f.label :current_password %></b>
    <i>(we need your current password to confirm your changes)</i><br/>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    New password <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    New password confirmation<br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :message_type %><br>
    <%= f.select :message_type,
      [['SMS', 'phone'],
       ['Email', 'email'],
       ['No Messages', 'unsubscribed']] %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select :location_id,
      @locations.map{ |l| [l.name, l.id] } %>
  </div>

  <div class="field">
    <%= f.label :f_name %><br />
    <%= f.text_field :f_name %>
  </div>
  <div class="field">
    <%= f.label :l_name %><br />
    <%= f.text_field :l_name %>
  </div>

  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
