<h1>Listing Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Comment</th>
      <th>Responded</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.title %></td>
        <td><%= feedback.content %></td>
        <td><%= feedback.comment %></td>
        <td><%= feedback.responded %></td>
        <td><%= link_to 'Show', feedback %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
