<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>
    </div>
      <ul>
      <% @rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name, class:"form-control", style:"width:30%" %>
  </div>
  <div class="field">
    <%= f.label :activated, "Status (activated or not)"%><br>
    <%= f.check_box :activated %>
  </div>
  <div class="form-inline">
    <%= f.label :delta, "Difference of temperature from monthly average" %>
    <br>
    <%= f.number_field :delta, style:"width:10%", class:"form-control" %> &#8451;
  </div><br>
   <div class="field">
    <%= f.label :duration, "Duration (number of days)" %><br>
    <%= f.number_field :duration, style:"width:10%", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :key_advice %><br>
    <%= f.text_area :key_advice, style:"width:50%", rows:3, class:"form-control" %>
  </div>
     <div class="field">
    <%= f.label :full_advice %><br>
    <%= f.text_area :full_advice, style:"width:50%", rows:5, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit({:class=> "btn btn-large btn-primary"}) %>
  </div>
<% end %>
