<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Activated:</strong>
  <%= @rule.activated %>
</p>

<p>
  <strong>Delta:</strong>
  <%= @rule.delta %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @rule.duration %>
</p>

<p>
  <strong>Key Advice:</strong>
  <%= @rule.key_advice %>
</p>

<p>
  <strong>Full Advice:</strong>
  <%= @rule.full_advice %>
</p>
<%= link_to 'Edit', edit_rule_path(@rule) %> |
<td><%= link_to 'Disable', @rule, method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', rules_path %>
