<% provide(:title, "Rule: "+@rule.name) %>

<h1>
  <strong><%= @rule.name %></strong>
</h1>
  
<% if current_user.admin_access %>
    <strong>Status (activated or not)</strong>
    <p>
     <%= @rule.activated %> 
    </p>

    <strong>Difference of temperature from monthly average</strong>
    <p>
      <%= @rule.delta %>
    </p>

    <strong>Duration (number of days)</strong>
    <p>
      <%= @rule.duration %>
    </p>
<% end %>

<p>
  <strong>Key Advice</strong>
  <article>
    <i><%= @rule.key_advice %></i>
  </article>
</p>

<p>
  <strong>Full Advice</strong>
  <% @rule.full_advice.lines.each do |line| %>
    <p><%= line %></p>
  <% end %>
</p>
<%= link_to 'Back', :back %> |
<%= link_to 'Edit', edit_rule_path(@rule) %> |
<td><%= link_to 'Disable', @rule, method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'View all rules', rules_path %>
