<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Message type</th>
      <th>Sent to</th>
      <th>Content</th>
      <th>Send time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.user %></td>
        <td><%= message.message_type %></td>
        <td><%= message.sent_to %></td>
        <td><%= message.content %></td>
        <td><%= message.send_time %></td>
        <td><%= link_to 'Show', message %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', :back %>
