<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable 'email', 'User Email'%></th>
      <th><%= sortable 'f_name', 'First name'%></th>
      <th><%= sortable 'l_name', 'Second name'%></th>
      <th><%= sortable 'message_type', 'Message type'%></th>
      <th><%= sortable 'contents', 'Content'%></th>
      <th><%= sortable 'sent_to', 'Sent to'%></th>
      <th><%= sortable 'send_time', 'Send time'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to message.user.email, message.user %></td>
        <td><%= message.user.f_name %></td>
        <td><%= message.user.l_name %></td>
        <td><%= message.message_type %></td>
        <td><%= message.contents %></td>
        <% if message.sent_to == nil %>
          <td>unsent</td>
        <% else %>
          <td><%= message.sent_to %></td>
        <% end %>
        <% if message.sent_to == nil %>
          <td>unsent</td>
        <% else %>
          <td><%= message.send_time %></td>
        <% end %>
        <td><%= link_to 'Show', message %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', :back %>
