<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable 'user.id', 'User ID'%></th>
      <th><%= sortable 'user.f_name', 'First name'%></th>
      <th><%= sortable 'user.l_name', 'Second Same'%></th>
      <th><%= sortable 'message_type', 'Message type'%></th>
      <th><%= sortable 'sent_to', 'Sent to'%></th>
      <th><%= sortable 'content', 'Content'%></th>
      <th><%= sortable 'send_time', 'Send time'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.user.id %></td>
        <td><%= message.user.f_name %></td>
        <td><%= message.user.l_name %></td>
        <td><%= message.message_type %></td>
        <td><%= message.sent_to %></td>
        <td><%= message.contents %></td>
        <td><%= message.send_time %></td>
        <td><%= link_to 'Show', message %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', :back %>
