<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to @message.user.email, @message.user %>
</p>

<p>
  <strong>User First name:</strong>
  <%= @message.user.f_name %>
</p>

<p>
  <strong>User Second name:</strong>
  <%= @message.user.l_name %>
</p>

<p>
  <strong>Rule that caused this message:</strong>
  <%= link_to @message.rule.name, @message.rule %>
</p>

<p>
  <strong>Weather event that caused this message:</strong>
  <%= "High temp of #{@message.weather.high_temp}"%>
  <%= " at #{@message.weather.location.name}" %>
  <%= " on #{@message.weather.date}" %>
</p>
<p>
  <strong>Average temperature in that month:</strong>
  <%= @message.weather.location.mean_for @message.weather.date %>
</p>

<p>
  <strong>Message type:</strong>
  <%= @message.message_type %>
</p>

<p>
  <strong>Sent to:</strong>
  <% if @message.sent_to == nil %>
    <%= 'unsent' %>
  <% else %>
    <%= @message.sent_to %>
  <% end %>  
</p>

<p>
  <strong>Content:</strong>
  <%= @message.contents %>
</p>

<p>
  <strong>Send time:</strong>
  <% if @message.send_time == nil %>
    <%= 'unsent' %>
  <% else %>
    <%= @message.send_time %>
  <% end %>
</p>



<%= link_to 'Back', :back %>
