<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @message.user.id %>
</p>

<p>
  <strong>User First name:</strong>
  <%= @message.user.f_name %>
</p>

<p>
  <strong>User Second name:</strong>
  <%= @message.user.l_name %>
</p>

<p>
  <strong>Rule ID that caused this message:</strong>
  <%= @message.rule.id %>
</p>

<p>
  <strong>Rule title</strong>
  <%= @message.rule.name %>
</p>

<p>
  <strong>Message type:</strong>
  <%= @message.message_type %>
</p>

<p>
  <strong>Sent to:</strong>
  <%= @message.sent_to %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.contents %>
</p>

<p>
  <strong>Send time:</strong>
  <%= @message.send_time %>
</p>



<%= link_to 'Back', :back %>
