<%= form_for(@user, builder: UserFormBuilder) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    </div>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control", style:"width:30%" %>
  </div>

  <div class="field">
    <!-- Intentionally left visible; admins being able to see
    passwords for resetting purposes is important. -->
    <%= f.label :password %><i>(leave blank if you don't want to change it)</i><br />
    <%= f.text_field :password, autocomplete: "off", class:"form-control", style:"width:30%" %>
  </div>

  <div class="field">
    <%= f.label :admin_access %><br>
    <%= f.check_box :admin_access %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class:"form-control", style:"width:30%" %>
  </div>
  <div class="field">
    <%= f.label :message_type %><br>
    <%= f.select(:message_type,
                 [['SMS', 'phone'],
                  ['Email', 'email'],
                  ['No Messages', 'unsubscribed']], {:prompt=>'Select your nearest weather station'}, {:class=>'form-control', :style=>"width:30%"})%>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select(:location_id,
                 @locations.map{ |l| [l.name, l.id] },
                 {:prompt=> 'Select your nearest weather station'}, {:class=>"form-control", :style=>"width:30%" }) %>
  </div>

  <div class="field">
    <%= f.label :f_name %><br />
    <%= f.text_field :f_name, class:"form-control", style:"width:30%" %>
  </div>
  <div class="field">
    <%= f.label :l_name %><br />
    <%= f.text_field :l_name, class:"form-control", style:"width:30%" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender, class:"form-control", style:"width:10%" %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age, class:"form-control", style:"width:10%" %>
  </div>

  <div class="actions">
    <%= f.submit({:class=> "btn btn-large btn-primary"}) %>
  </div>
<% end %>
